.globalLoginContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 0px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 24px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginForm .textField {
    width: 100%;
    margin: 8px 0 8px 0;
}

.loginContainer p {
    align-self: center;
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}

.loginContainer .textField {
    width: 100%;
}

.goToRegister #linkRouter {
    color: #FACA16;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.loginContainer .returnToLogin {
    letter-spacing: -0.165px;
    font-size: 16px;
    align-self: center;
}

.loginContainer .returnToLogin #linkRouter {
    color: #FACA16;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}